#wrap h2 {
	margin: 0 0 10px 0;
	font-size: 16px;
}

#wrap nav {
	background: #f6f6f6;
	padding: 20px;
	box-sizing: border-box;
	width: 20vw;
}

@media only screen and (max-width: 1600px) {
	#wrap nav {
		background: #f6f6f6;
		padding: 20px;
		box-sizing: border-box;
		width: 45px;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 6;
		overflow: hidden;
		transition: width 0.025s ease-in-out;
		border-right: 2px solid #000;
	}

	#wrap nav * {
		opacity: 0;
	}

	#wrap nav + main {
		margin-left: 90px;
	}

	#wrap nav:after {
		content: 'cases';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(270deg);
	}

	#wrap nav:hover {
		width: 20vw;
	}

	#wrap nav:hover:after {
		content: '';
	}

	#wrap nav:hover * {
		opacity: 1;
	}
}

#facetHeadingWrap {
	max-width: 595px;
}

#wrap nav a {
	color: #3f7578;
}

#casesList {
	position: relative;
	height: 100%;
}

#caseListTable {
	position: relative;
	height: 100%;
	overflow: auto;
}

#casesList table {
	position: absolute;
	top: 0;
	left: 0;
}

#casesList table tr.active {
	background-color: rgba(99, 202, 135, 0.5);
}

#casesList table th {
	font-size: 12px;
	text-align: left;
}

#casesList table td {
	font-size: 12px;
}

#casesList table td a {
	color: #333;
}

#casesList table td a:hover {
	color: #3f7578;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 20px;
}

main h2 {
	font-size: 18px;
	text-align: center;
}

main h2 span {
	display: block;
	font-size: 24px;
}

#mainBody {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#caseFacets {
	padding: 20px 20px 20px 0;
	box-sizing: border-box;
	transition: opacity 0.125s;
	width: 28vw;
}

#caseFacets.loading {
	opacity: 0.7;
	pointer-events: none;
}

#caseFacetsNavigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#currentCaseName {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#nextCase {
	flex-shrink: 0;
	margin-left: 15px;
}

#caseFacets table {
	width: 100%;
	border: 1px solid #333;
	border-collapse: collapse;
}

#caseFacets table th {
	background: #333;
	color: #fff;
	top: 30px;
	text-align: left;
}

#caseFacets table th,
#caseFacets table td {
	border: 1px solid #333;
	font-size: 14px;
	padding: 5px;
}

#caseFacets tr.active td {
	background: #3f7578;
	color: #fff;
}

#caseFacets tr td:not(:nth-child(2)) {
	text-align: center;
}

#caseFacets td.sortable {
	cursor: ns-resize;
}

/* Facet controls */

.facet-control {
	margin: 0 20px 20px 20px;
	width: 100%;
}

.facet-content {
	box-sizing: border-box;
	border: 1px solid #cf9768;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.facet-content .facet-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.facet-heading .facet-heading-left {
	display: flex;
	align-items: center;
}

.facet-content .facet-heading h3 {
	margin: 0;
	line-height: 1;
}

.hoverable {
	position: relative;
}
.hoverable span {
	display: none;
}
.hoverable:hover span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	white-space: nowrap;
	font-size: 12px;
	border: 1px solid black;
	padding: 2px;
	transform: translateY(-100%);
}

#facetBooleanHeadingDetails {
	margin: 1em 0;
}

#pdf {
	display: flex;
	position: relative;
	flex-grow: 1;
	transition: opacity 0.125s;
}

#pdf.loading {
	opacity: 0.7;
	pointer-events: none;
}

#pdfViewerOuter {
	width: 595px;
	height: 100%;
	position: relative;
	overflow-y: hidden;
}
#pdfViewer {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	border: 2px solid #000;
}

#pdfViewer.dragging {
	scroll-behavior: initial;
}

#saveHeading {
	font-size: 12px;
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
}

#pdfMinimap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
}

#pdfMinimapOuter {
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#pdfMinimapInner {
	transform: translateY(0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.pdfDivPointWrap.active > div {
	background: rgba(0,0,0,0.1);
}

#pdfNavigation {
	margin-bottom: 15px;
}

#submitBoolean {
	margin-bottom: 15px;
}

#submitBoolean div {
	text-align: center;
}

#submitBoolean div:first-child {
	margin-bottom: 5px;
}

#submitDate {
	text-align: center;
	margin-bottom: 15px;
}

#submitDate select {
	font-size: 11px;
	width: 100%;
	overflow: visible;
	margin-bottom: 5px;
}

#pdfSearchBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#pdfSearchBar div {
	display: none;
}

#pdfSearchBar button {
	background: none;
	border: none;
	outline: none;
}

#pdfSearchBar input {
	font-size: 12px;
}

#pdfSearchBar.active {
	border: 2px solid #000;
	background-color: rgba(255, 255, 255, 0.8);
}

#pdfSearchBar.active div {
	display: block;
}

#pdfSearchNavigation {
	display: none;
}

#dateSeparated {
	display: flex;
	justify-content: center;
	margin: 0 -2px 10px -2px;
}

#dateSeparated div {
	font-size: 10px;
	margin: 0 2px;
	display: flex;
	flex-direction: column;
}

#dateSeparated input {
	padding: 0;
	width: 40px;
}

#dateSeparated div:last-child input {
	width: 60px;
}

#caseSetSettings {
	border: 2px solid #000;
	position: relative;
}

#closeCaseSetSettings {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	border: 0;
	outline: 0;
	cursor: pointer;
}

#selectCaseFormList {
	width: 150px;
}

#randomDataSetSize {
	width: 60px;
}

#generatingRandomDataSet {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	font-weight: bold;
}

#generatingRandomDataSet.active {
	display: flex;
}

.facetDialog {
	max-height: 80vh;
	width: 600px;
	overflow: auto;
	position: relative;
}

.facetDialog button {
	position: absolute;
	top: 0;
	right: 0;
}

.facetDialog table {
	border-collapse: collapse;
	width: 100%;
}

.facetDialog th, .facetDialog td {
	border: 1px solid #000;
	padding: 5px;
}

.facetDialog th {
	text-align: left;
	background: #eee;
}

.facetIcon {
	float: right;
	cursor: pointer;
}