<header>
    <img src="/global/logo.svg" alt="OpenLaw NZ Logo" />
    <h1>Research (alpha) : <span><%= pageTitle %></span></h1>
    <nav>
        <a href="/" <%= pageKey == 'Home' ? 'class=active' : null %>>Home</a>
        <a href="/human-refinement" <%= pageKey == 'human-refinement' ? 'class=active' : null %>>Human Refinement</a>
        <a href="/export" <%= pageKey == 'export' ? 'class=active' : null %>>Export</a>
    </nav>
</header>