<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OpenLaw NZ : <%= pageTitle %></title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">
		<link rel="stylesheet" href="/global/index.css" />
		<link rel="stylesheet" href="/human-refinement/index.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.worker.min.js"></script>
		<script type="module" src="/human-refinement/index.js"></script>
		<script src="/human-refinement/RowSorter.js"></script>
	</head>
	<body>
		<%- include('partials/header.ejs', { pageKey, pageTitle }) %>
		<dialog id="caseSetSettingsDialog">
			<button id="closeCaseSetSettings">&times;</button>
			<form id="generateRandomDataSetForm">
				<fieldset>
					<legend>Generate random data sets</legend>
					<div>
						<label>Set size: <input type="number" id="randomDataSetSize" /></label>
						<button type="submit">Generate</button>
					</div>
				</fieldset>
			</form>
			<div id="generatingRandomDataSet">
				Please wait...
			</div>
		</dialog>
		<div id="wrap" class="loading">
			<nav>
				<form id="selectCaseSetForm">
					<fieldset>
						<legend>Select Case Set <% if(isAdmin) {%><button type="button" id="caseSetSettingsButton">⚙ Settings</button><%}%></legend>
						<div>
							<select id="selectCaseFormList"></select>
							<button type="submit">Select</button>
						</div>
					</fieldset>
				</form>
				<div id="casesList">
					<!-- <input type="search" placeholder="filter" /> -->
					<div id="caseListTable">
						<table>
							<thead>
								<tr>
									<th>Case name</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</nav>
			<main id="main">
				<div id="mainBody">
				<div id="facetHeadingWrap">
					<details id="facetBooleanHeadingDetails">
						<summary id="facetBooleanHeading"></summary>
						<p id="facetBooleanDescription"></p>
					</details>

					<p id="facetDateHeading"></p>
				</div>
				<div id="pdf">
					<div id="pdfViewerOuter">
						<progress id="pdfLoadingPercent" max="100"></progress>
						<div id="pdfSearchBar">
							<button id="pdfSearchBarToggle">🔍</button>
							<div>
								<input type="search" placeholder="Search case" id="pdfSearchInput" autocomplete="false" />
							</div>
							<div id="pdfSearchNavigation">
								<button id="pdfSearchPrev">⬆</button>
								<button id="pdfSearchNext">⬇</button>
							</div>
						</div>
						<div id="pdfViewer"></div>
					</div>

					<div id="pdfMinimap">
						<div id="saveWrap">
							<div id="saveHeading">
								Save facet as
							</div>
							<div id="submitDate">
								<div>
									<select id="dateSubmit"> </select>

									<div id="dateSeparated">
										<div>
											<label>Day</label>
											<input type="number" id="dateDay" min="0" placeholder="DD" />
										</div>
										<div>
											<label>Month</label>
											<input type="number" id="dateMonth" min="0" placeholder="MM" />
										</div>
										<div>
											<label>Year</label>
											<input type="number" id="dateYear" min="0" placeholder="YYYY" />
										</div>
									</div>

									<button id="dateSubmitButton" <% if(!isAdminOrUser) {%>disabled<%}%>>Submit</button>
									<button id="dateNAButton" <% if(!isAdminOrUser) {%>disabled<%}%>>N/A</button>
									<button id="dateUnsureButton" <% if(!isAdminOrUser) {%>disabled<%}%>>Unsure</button>
								</div>
							</div>

							<div id="submitBoolean">
								<div>
									<button id="submitBooleanYes" <% if(!isAdminOrUser) {%>disabled<%}%>>✔ Yes</button>
									<button id="submitBooleanNo" <% if(!isAdminOrUser) {%>disabled<%}%>>✘ No</button>
								</div>
								<div>
									<button id="submitBooleanNA" <% if(!isAdminOrUser) {%>disabled<%}%>>N/A</button>
									<button id="submitBooleanUnsure" <% if(!isAdminOrUser) {%>disabled<%}%>>Unsure</button>
								</div>
							</div>
						</div>
						
						<div id="pdfNavigation">
							<button id="pdfPrev">⬆</button>
							<button id="pdfNext">⬇</button>
						</div>
						<div id="pdfMinimapOuter">
							<div id="pdfMinimapInner"></div>
						</div>
					</div>
				</div>
			</div>
			</main>

			<div id="caseFacets">
				<div id="caseFacetsNavigation">
					<p id="currentCaseName"></p>
					<button id="nextCase">Next case</button>
				</div>
				<div id="caseFacetsTableWrap">
					<table>
						<thead>
							<tr>
								<th>Sort</th>
								<th>Facet</th>
								<th>Value</th>
								<th>Action</th>
								<th><span title="Completed count">#</span></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
