/* General styles */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Nunito';
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #fdfbf045;
}

fieldset label {
	display: block;
	font-size: 14px;
}

.loading {
	position: relative;
}

.loading:after {
	content: 'Loading...';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}

.loading * {
	visibility: collapse;
}

.button {
	background: #cf9768;
	color: #fff;
	line-height: 1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background: #9e6332;
}

.button:disabled {
	opacity: 0.5;
}

/* Page */

body > header {
	background: #3f7578;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	color: #fff;
}

body > header h1 {
	margin: 0;
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
}

body > header nav {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 14px;
	display: flex;
}

body > header nav a {
	color: #fff;
}

body > header nav a:not(:last-child):after {
	content: "|";
	margin: 0 10px;
	color: #fff;
	font-weight: normal;
}

body > header nav a.active {
	font-weight: bold;
	text-decoration: none;
}

#wrap {
	display: flex;
	flex: 1;
	width: 100%;
	position: relative;
}